{% extends "practice.html" %}

{% block title %}
<title>TOEIC VOCABULARY EN-TH : PRACTICE {{ type }}</title>
{% endblock %}

{% block practice_vocab %}

<div class="practice-container-start">

    <!-- Header -->
    <div class="practice-header">
        <div style="font-weight: bold;">
            {{ main_menu }}{% if sub_menu != "" %} | {{ sub_menu }}{% endif %}
            Part: {{ part }}<br>
        </div>
        <div>{{ current_word }} / {{ total_word }}</div>
    </div>

    <!-- progress bar section -->

    <div class="progress progress_custom" role="progressbar" aria-label="Example with label" aria-valuenow="{{ progress }}" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar bg-success" style="width: {{ progress }}%"></div>
    </div>
    <div style="width: 100%; text-align: right; margin-top: 10px;">{{ progress }}%</div>
    

    <!-- question section -->
    <div class="practice-question-box">
        <div class="practice-question">
            {{ question }}
        </div>
        <br>
        <div>
            <strong>Part of Speech: </strong>{{ part_of_speech }}
        </div>
    </div>

    <div class="practice-choices">
        {% for choice in choices %}

        <form method="post" action="check_answer">
            {% csrf_token %}
            <input name="choice" value="{{ choice }}" style="display: none;">

            {% if is_correct == True or is_correct == False %}

            {% if choice == correct_answer %}

            <button class="btn practice-choice correct_answer" disabled>
                {{ choice }}
            </button>

            {% elif choice == answer and choice != correct_answer %}

            <button class="btn practice-choice wrong_answer" disabled>
                {{ choice }}
            </button>

            {% else %}

            <button class="btn practice-choice" disabled>
                {{ choice }}
            </button>

            {% endif %}

            {% else %}

            <button class="btn practice-choice">
                {{ choice }}
            </button>

            {% endif %}
        </form>

        {% endfor %}
    </div>

    <!-- next button section -->
    {% if is_correct == True or is_correct == False %}

    <div class="result-answer">
        <a id="next-btn" class="btn btn-primary next-question-btn" href="next_question">Next</a>
    </div>

    <script>
        document.addEventListener("keydown", function(event) {
            var nextBtn = document.getElementById("next-btn");
            if (event.key === "Enter") {
            // Trigger a click event on the focused button
                nextBtn.click();
            }
        });
    </script>

    {% endif %}
</div>

{% endblock %}